instructions/*
papers/*
*.pdf
00_main.pdf
*.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.brf
*.lbl
figures/old-figs/*
*.svg
*.png
*.pptx
videos/*
*.fls
*.fdb_latexmk
*.toc
papers/*
*.bcf
*.run.xml
*.xmpi